/* CSS Color Variant */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color-one: #1f2937;
    --color-two: #3882f6;
    --color-three: #e5e7eb;
    --color-four: #f9faf8;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    min-height: 60vh;
    gap: 100px;
    background-color: var(--color-one);
}

.header-topbar {
    display: flex;
    justify-content: space-between;
    color: var(--color-four);
    margin: 24px 200px;
}


.header-logo {
    font-size:  24px;
    color: var(--color-four);
    font-weight: bolder;
}

ul.header-link {
    display: flex;
    gap: 18px;
    list-style: none;
    color: var(--color-three);
}

.header-content {
    display: flex;
    max-height: 30vh;
    justify-content: space-between;
    margin: 24px 200px;
}

img#header-image {
    min-width: 50%;
    height: auto;
}

div.header-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    min-width: 50%;
    gap: 12px;
    flex-grow: 0;
    color: var(--color-four);
    flex-grow: 0;
}

div.header-content-container h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--color-four);
    max-width: 300px;
}

input[type="button"] {
    width: 100px ;
    height: 30px;
    background-color: var(--color-two);
    color: var(--color-four);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

/* Information section */

section#Information {
    text-align: center;
    margin: 48px;
    background-color: var(--color-four);
    margin: 0 200px;
    padding-top: 48px;
    min-height: 50vh;
}

section#Information h2  {
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: bolder;
    color: var(--color-one);
}

img.info-frame {
    width: 200px;
    height: 200px;
    border: var(--color-two) ;
    border-radius: 5px;
}
div.info-bottom-bar {
    display: flex;
    justify-content: center;
    gap: 48px;
}

/* Quote section */
section#quote {
    background-color: var(--color-three);
    margin: 0 200px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

section#quote p {
    margin: 0 200px;
    line-height: 125%;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--color-one);
}

section#quote p.author {
    display: flex;
    justify-content: flex-end;
}

/* Sign up section */

section#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0 200px;
    background-color: var(--color-four);
}

div.sign-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 200px;
    padding: 0 120px;
    background-color: var(--color-two);
    color: var(--color-four);
    height: 40%;
    border-radius: 5px;
}

p.call-to-header {
    font-size: 24px;
    font-weight: bold;
}

input[type="button"].sign-up-button {
    border: 2px solid white;
}

/* Footer */

footer {
    text-align: center;
    margin: 0 200px;
    padding: 32px;
    background-color: var(--color-one);
    color: var(--color-four);
}